#home-banner{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(../Image/banner.png);
}
.banner{
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 200px;
}
#banner-text{
    padding-top: 70px;
    font-weight: bolder;
    color: white;
}
#banner-logo{
    width: 150px;
    margin-top: 20px;
}
#optional-banner{
    background-image: linear-gradient(rgba(225, 225, 225, 0.6),rgba(225, 225, 225, 0.6)),url(../Image/banner.png);
}